.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 343px;
    width: 264.13995361328125px;
    left: 997.8603515625px;
    top: 635px;
    border-radius: 50px;

    background: rgba(150, 190, 228, 0.4);
    border-radius: 50px;
}