.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
}
.openCountry{
    position: absolute;
    width: 605px;
    height: 105px;
    left: 658px;
    top: 235px;

    background: rgba(87, 226, 126, 0.42);
    border-radius: 50px;
}
.closedCountry{
    position: absolute;
    width: 605px;
    height: 105px;
    left: 658px;
    top: 235px;

    background: rgba(247, 167, 167, 0.4);
    border-radius: 50px;
}
.countryText{
    text-align: center;
    padding-top: 2%;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.fillBtn{
    position: absolute;
    height: 56px;
    width: 272px;
    left: 824px;
    top: 530px;
    border-radius: 18px;
    background: #F9B300;
}
.fillDocsTxT{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}
.wrapper{
    z-index:1;
}
.addRoute{
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 40px;
    left: 1730px;
    top: 941px;
    border-radius: 0px;
}