.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 396px;
    width: 300px;
    left: 252px;
    top: 527px;
    border-radius: 50px;
    background: rgba(247, 167, 167, 0.4);
    border-radius: 50px;
}
h3{
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
}