.container{
    width: 100%;
    height: 100%;
}
.navigationBar{
    position: relative;
    display: flex;
    align-items: center;
    width: 1512px;
    height: 58px;
    left: 200px;
    top: 100px;

    background: #F9B300;
    border-radius: 50px;
}
.navigation{

    display: flex;
    list-style-type: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: #6D6D6D;
}
.buttons{
    position: relative;
    left: 200px;
    top: 138px;
}
.selected{
    width: 136px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
    border:none;
    margin-right: 20px;

    color: #FFFFFF;
    background: #2748BB;
    border-radius: 50px;
}
.save{
    width: 136px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
    border:none;
    margin-right: 20px;
    cursor: pointer;

    color: #FFFFFF;
    background: #2748BB;
    border-radius: 50px;
}
.new{
    width: 136px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
    margin-right: 20px;
    cursor: pointer;
    border:none;
    color: #FFFFFF;
    background: #1DAC56;
    border-radius: 50px;
}
.delete{
    width: 136px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
    border:none;
    margin-right: 20px;

    cursor: pointer;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 50px;
}
.search{
    border: 0;
    width: 880px;
    border-bottom: 1px solid black;
    text-align: left;

    Outline:none;
    background: none;
    font-size: 18px;
    line-height: 22px;
}
.infoTable{
    position: relative;
}
.tables{
    overflow-x: auto;
    width: 1512px;
    height: 500px;
    overflow-y: auto;
    position: relative;
    left:200px;
    top:200px;
}
.logo {
    position: absolute;
    left: 7.81%;
    right: 84.01%;
    top: 5.56%;
    bottom: 88.06%;
}

.user{
    cursor: pointer;
    width: 55px;
    height: 55px;
    margin-top: 60px;
    margin-right: 143px;
}
.auth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hidable{
    margin-left: 1470px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.vector{
    margin-top: 58px;
    width: 10px;
    height: auto;
    margin-right: 10px;
}

.link{
    margin-top: 77px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    text-decoration: none;
}
.logOut{
    color: #FF0000;
    padding-right: 16px;
    margin-top: 77px;
    margin-right: 12px;
    margin-left: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    text-decoration: none;
}
.register{
    color: #000000;
    padding-right: 16px;
}