
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.containerScroll {
    width: 1548px;
    overflow-x: scroll;
    margin: auto;
}

.items {
    display: flex;
    /*flex-direction: row;*/
    padding: 10px;
    cursor: pointer;
    /*scrollbar-width: none;*/
    /*justify-content: space-between;*/
}

.items::-webkit-scrollbar {
    width: 0;
}

.items * > * {
    /*     отступы*/
    margin-left: 20px;
}

.item {
    /*border-radius: 10px;*/
    /*border: 1px solid gray;*/
    /*min-width: 250px ;*/
    /*margin-right: 20px;*/

}


.accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

label {
    margin-top: 60px;
}

input {
    margin-left: 5px;
}

.accountBtn {
    width: 150px;
    height: 40px;


    background: #F9B300;
    border-radius: 50px;
    border-width: 0px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upperPannel {
    width: 100%;
    margin-top: 60px;
}

.user {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 3.12%;
    bottom: 3.13%;
    margin: 3.75rem auto 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.partOfInputInfo {
    width: 41%;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 60px;
    width: auto;
}

.info {
    margin-top: 90px;
    width: 1203px;
}

.accountComponent {
    margin: 0 auto;
}

.input {
    border: 0;
    border-bottom: 1px solid black;
    width: 68%;
    text-align: right;
    float: right;
    Outline: none;
    background: none;
}

.wrongInput {
    border: 0;
    border-bottom: 1px solid black;
    width: 68%;
    text-align: right;
    float: right;
    Outline: none;
    background: none;
    color: red;
}

.naming {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.oneInput {
    margin-bottom: 26px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.line {
    margin: 50px auto 0;
    width: 1204px;
    height: 0px;

    border: 1px solid #000000;
}

.createButton {
    border: none;
    display: flex;
    width: 150px;
    height: 40px;
    background: #F9B300;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
}

button:active, button:focus {
    outline: none !important;
}

button:hover {
    color: white;

}

button:active {
    outline: none;
}

select {
    border: none;
    width: 68.8%;
    text-align-last: right;
    border: 0;
    border-bottom: 1px solid black;
    text-align: right;
    float: right;
    Outline: none;
    direction: ltr;
    /*webkit-appearance:none*/
    background: none;
}

select:active {
    outline: none;
}

option {
    direction: rtl;
}


@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.logo {
    position: absolute;
    left: 7.81%;
    right: 84.01%;
    top: 5.56%;
    bottom: 88.06%;

}

shakeAnimation {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.savedRoute {
    width: 351px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 52px;
    margin-right: 44px;
}

.savedRouteTitle {
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 50%;
    height: 22px;
    text-align: center;
    padding-top: 40px;
}

.deleteButton {
    position: relative;
    top: -20px;
    left: 262px;
    width: 17px;
}

.countrysShortName {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 253px;
}

.marginNone {
    margin: 0;
}

.savedRouteImage {
    margin: 0 auto;
    margin-top: 5px;
    width: 253px;
}

.savedRouteButton {
    background: #F9B300;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    margin-top: 56px;
    display: block;
    border: none;
}

button:active, button:focus {
    outline: none !important;
}

button:hover {
    color: white;

}

button:active {
    outline: none;
}